{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{ site_settings.name }} | {% block title %} {% endblock title %}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ site_settings.pic_url }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'front/fonts/fontawesome-5.0.8/css/fontawesome-all.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css"
          href="{% static 'front/fonts/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animate/animate.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/css-hamburgers/hamburgers.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/vendor/animsition/css/animsition.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/util.min.css' %}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'front/css/main.css' %}">
    <!--===============================================================================================-->
    <!-- Toast Js Baslangıc -->
    <link rel="stylesheet" href="{% static 'ToastJs/Toast.min.css' %}">
    <script src="{% static 'ToastJs/Toast.min.js' %}"></script>
    <!-- Toast Js Bitis -->
</head>
<body class="animsition">

<!-- Header -->
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <div class="topbar">
            <div class="content-topbar h-100 p-rl-30">
                <div class="align-self-stretch size-w-0 pos-relative m-r-30">
                    <div class="f2-s-1 flex-wr-s-c s-full ab-t-l p-b-2">
							<span class="text-uppercase cl0 p-r-8">
								Trending Now:
							</span>

                        <span class="dis-inline-block cl16 slide100-txt pos-relative size-w-0" data-in="fadeInDown"
                              data-out="fadeOutDown">
                                {% for trend in get_trendings %}
                                    <span class="dis-inline-block slide100-txt-item animated visible-false">
									{{ trend.txt }}
								</span>
                                {% endfor %}


							</span>
                    </div>
                </div>


                <div class="flex-wr-e-c">
                    <div class="left-topbar">


                        <a href="{% url 'main:about' %}" class="left-topbar-item">
                            About
                        </a>

                        <a href="{% url 'main:contact' %}" class="left-topbar-item">
                            Contact
                        </a>
                        {% if request.user.is_authenticated %}
                            {#                        {% if request.user.is_authenticated and request.user.is_superuser %}#}
                            <a href="{% url 'panel:home' %}" class="left-topbar-item">
                                Panel
                            </a>

                        {% else %}
                            <a href="{% url 'main:my_login' %}" class="left-topbar-item">
                                Log in / Sign up

                            </a>
                        {% endif %}

                        <a href="#" class="left-topbar-item"></a>
                    </div>

                    <div class="right-topbar p-l-18">
                        <a href="{{ site_settings.facebook_address }}">
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        <a href="{{ site_settings.twitter_address }}">
                            <span class="fab fa-twitter"></span>
                        </a>
                        <a href="{{ site_settings.youtube_address }}">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <!--  -->
        <div class="wrap-logo no-banner container">
            <!-- Logo desktop -->
            <div class="logo">
                <a href="http://baysansoft.com/" target="_blank"><img
                        style="display: inline-block; width: 500px; height: 120px;"
                        src="{{ site_settings.pic_url }}" alt="LOGO"></a>
            </div>
        </div>

        <!--  -->
        <div class="wrap-main-nav">
            <div class="main-nav">
                <!-- Menu desktop -->
                <nav class="menu-desktop">
                    <a class="logo-stick" href="{% url 'main:home' %}">
                        <img src="{% static 'front/images/icons/logo-01.png' %}" alt="LOGO">
                    </a>

                    <ul class="main-menu justify-content-center">
                        <li class="main-menu-active">
                            <a href="{% url 'main:home' %}">Home</a>
                        </li>

                        {% for category in get_categories %}
                            {% if category.count != 0 %}
                                <li class="mega-menu-item">
                                    <a href="#">{{ category.name }}</a>

                                    <div class="sub-mega-menu">
                                        <div class="nav flex-column nav-pills" role="tablist">
                                            <a class="nav-link active" data-toggle="pill" href="#news-0"
                                               role="tab">All</a>
                                            {% for subcategory in get_subcategories %}
                                                {% if subcategory.category_id == category.pk %}
                                                    <a class="nav-link" data-toggle="pill"
                                                       href="#news-{{ subcategory.pk }}"
                                                       role="tab">{{ subcategory.name }}</a>
                                                {% endif %}
                                            {% endfor %}

                                        </div>

                                        <div class="tab-content">
                                            <div class="tab-pane show active" id="news-0" role="tabpanel">
                                                <div class="row">
                                                    {% for new in news %}
                                                        {% if new.ocategory_id == category.pk %}
                                                            <div class="col-3">
                                                                <!-- Item post -->
                                                                <div>
                                                                    <a href="{% url 'news:news_detail' pk=new.pk %}"
                                                                       class="wrap-pic-w hov1 trans-03">
                                                                        <img style="display: inline-block; width:180px; height: 120px;"
                                                                             src="{{ new.pic_url }}"
                                                                             alt="IMG">
                                                                    </a>

                                                                    <div class="p-t-10">
                                                                        <h5 class="p-b-5">
                                                                            <a href="{% url 'news:news_detail' pk=new.pk %}"
                                                                               class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                                {{ new.name }}
                                                                            </a>
                                                                        </h5>

                                                                        <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ new.category_name }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{ new.date | date }}
																</span>
															</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                    {% endfor %}


                                                </div>
                                            </div>

                                            {% for subcategory in get_subcategories %}
                                                <div class="tab-pane" id="news-{{ subcategory.pk }}"
                                                     role="tabpanel">
                                                    <div class="row">
                                                        {% for news in news %}
                                                            {% if news.category_id == subcategory.pk %}
                                                                <div class="col-3">
                                                                    <!-- Item post -->
                                                                    <div>
                                                                        <a href="{% url 'news:news_detail' pk=news.pk %}"
                                                                           class="wrap-pic-w hov1 trans-03">
                                                                            <img src="{{ news.pic_url }}" alt="IMG">
                                                                        </a>

                                                                        <div class="p-t-10">
                                                                            <h5 class="p-b-5">
                                                                                <a href="{% url 'news:news_detail' pk=news.pk %}"
                                                                                   class="f1-s-5 cl3 hov-cl10 trans-03">
                                                                                    {{ news.name }}
                                                                                </a>
                                                                            </h5>

                                                                            <span class="cl8">
																<a href="#" class="f1-s-6 cl8 hov-cl10 trans-03">
																	{{ news.category_name }}
																</a>

																<span class="f1-s-3 m-rl-3">
																	-
																</span>

																<span class="f1-s-3">
																	{{ news.date | date }}
																</span>
															</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endfor %}

                                                    </div>
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

{% block mainblock %}

{% endblock mainblock %}


<!-- Footer -->
<footer>
    <div class="bg2 p-t-40 p-b-25">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <a href="{% url 'main:home' %}">
                            <img class="max-s-full" style="display: inline-block; width: 300px;height: 100px;"
                                 src="{{ site_settings.pic_url }}" alt="LOGO">
                        </a>
                    </div>

                    <div>
                        <p class="f1-s-1 cl11 p-b-16">
                            {{ site_settings.about | safe | truncatewords:30 }}
                        </p>
                        <br>
                        <p class="f1-s-1 cl11 p-b-16">
                            Any questions? Call us on {{ site_settings.phone }}
                        </p>

                        <div class="p-t-15">
                            <a href="{{ site_settings.facebook_address }}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-facebook-f"></span>
                            </a>

                            <a href="{{ site_settings.twitter_address }}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-twitter"></span>
                            </a>
                            <a href="{{ site_settings.youtube_address }}" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                                <span class="fab fa-youtube"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Popular Posts
                        </h5>
                    </div>

                    <ul>
                        {% for popular_post in get_popular_posts_home %}
                            <li class="flex-wr-sb-s p-b-20">
                                <a href="{% url 'news:news_detail' pk=popular_post.pk %}"
                                   class="size-w-4 wrap-pic-w hov1 trans-03">
                                    <img src="{{ popular_post.pic_url }}" alt="{{ popular_post.pic_name }}">
                                </a>

                                <div class="size-w-5">
                                    <h6 class="p-b-5">
                                        <a href="{% url 'news:news_detail' pk=popular_post.pk %}"
                                           class="f1-s-5 cl11 hov-cl10 trans-03">
                                            {{ popular_post.name }}
                                        </a>
                                    </h6>

                                    <span class="f1-s-3 cl6">
										{{ popular_post.date | date }}
									</span>
                                </div>
                            </li>

                        {% endfor %}

                    </ul>
                </div>

                <div class="col-sm-6 col-lg-4 p-b-20">
                    <div class="size-h-3 flex-s-c">
                        <h5 class="f1-m-7 cl0">
                            Category
                        </h5>
                    </div>

                    <ul class="m-t--12">
                        {% for category in get_categories %}
                            <!-- categories/context_processor.py'den gelen categories -->
                            {% if category.count != 0 %} <!-- categorinin büyüklüğü 0'dan farklı ise -->
                                <li class="how-bor1 p-rl-5 p-tb-10">
                                    <a href="#" class="f1-s-5 cl11 hov-cl10 trans-03 p-tb-8">
                                        {{ category.name }} ({{ category.count }})
                                    </a>
                                </li>
                            {% endif %}

                        {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bg11">
        <div class="container size-h-4 flex-c-c p-tb-15">
				<span class="f1-s-1 cl0 txt-center">
					Copyright © 2019

					<a href="{{ site_settings.link }}" target="_blank" class="f1-s-1 cl10 hov-link1"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This wep application is made with <i
                                class="fa fa-heart" aria-hidden="true"></i> by <a href="http://baysansoft.com/"
                                                                                  target="_blank">BaysanSoft</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</span>
        </div>
    </div>
</footer>

<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<span class="fas fa-angle-up"></span>
		</span>
</div>

<!-- Modal Video 01-->
<div class="modal fade" id="modal-video-01" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document" data-dismiss="modal">
        <div class="close-mo-video-01 trans-0-4" data-dismiss="modal" aria-label="Close">&times;</div>

        <div class="wrap-video-mo-01">
            <div class="video-mo-01">

            </div>
        </div>
    </div>
</div>

<!--===============================================================================================-->
<script src="{% static 'front/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'front/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'front/vendor/bootstrap/js/popper.js' %}"></script>
<script src="{% static 'front/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
<script src="{% static 'front/js/main.js' %}"></script>
{% block ozel_js %}

{% endblock %}

</body>
</html>
