{% extends "layout.html" %}

{% block body %}
    <div class="jumbotron text-center">
        <h3>Baysan Bloğuna Hoşgeldiniz</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi, asperiores aspernatur blanditiis
            distinctio et fuga harum, id impedit, itaque iure magnam modi molestias mollitia perspiciatis placeat
            possimus ullam vero? Accusantium adipisci amet, autem harum incidunt ipsum, laborum, molestias nam nostrum
            reprehenderit sit tempora? Cupiditate nam numquam quia? Dolorum, nobis?</p>
    </div>
{% endblock %}