{% macro show_links(user) %}
<ul class="nav navbar-nav">
    <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
    {% if not user %}
    <li><a href="{{ url_for('login') }}">Login</a></li>
    <li><a href="{{ url_for('register') }}">Register</a></li>
    {% endif %}
    {% if user and not user['admin'] and not user['expert'] %}
    <li><a href="{{ url_for('ask') }}">Ask Question</a></li>
    {% endif %}
    {% if user and user['expert'] %}
    <li><a href="{{ url_for('unanswered') }}">Answer Questions</a></li>
    {% endif %}
    {% if user and user['admin'] %}
    <li><a href="{{ url_for('users') }}">User Setup</a></li>
    {% endif %}
    {% if user %}
    <li><a href="{{ url_for('logout') }}">Logout</a></li>
    {% endif %}
</ul>
{% endmacro %}