{% extends 'layout.html' %} <!-- templates içinden layout'u çağıracak / miras alacak -->
{% load static %}
{% block title %}
    Post List
{% endblock %}
{% block content %}
    <div style="margin: 0 auto; width: 505px;">
        <h1>PostsList <i class="fa fa-book" style="height: 34px;"></i></h1>
        {#        {% if posts.count >= 2 %}#}
        {#            <h3>En Az 2 Adet Post'a sahibiz</h3>#}
        {#        {% endif %}#}
        <hr>
        <br>
        {% for post in posts %}
            <h4><a style="color:#666666;" href="{% url 'blog:post_detail' post.pk %}"> {{ post.title }}</a>
                <span style="color: dimgrey; font-size: 15px;">{{ post.created_date }}
                    <small>{{ post.created_date | timesince }} önce eklendi </small>
                </span>
            </h4>
            <p>{{ post.content |truncatewords:5 }}</p>
        {% empty %} <!-- eğer liste boş dönerse -->
            <b style="color: crimson">Aradığınız kriterde içerik bulunamadı...</b>
        {% endfor %}
        {#        {% if get %}#}
        {#            <h2>{{ get }}</h2>#}
        {#        {% endif %}#}

    </div>
{% endblock %}
