{% extends 'back/layout.html' %}
{% load static %}
{% block body %}
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Category List<br><small>you can add, edit and delete your data!</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Category</li>
        <li><a href="{% url 'panel:category_list' %}">Category List</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Export</strong> Data</h2>
        </div>

        <div class="table-responsive">
            <a href="{% url 'category:export_csv' %}" data-toggle="tooltip" title="export csv file"
               class="btn btn-xs btn-primary"> CSV</a>
        </div>
    </div>
    <!-- END Datatables Content -->


    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Import</strong> Data</h2>
        </div>

        <form action="{% url 'category:import_csv' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="table-responsive">
                <input type="file" name="csv_file" id="csv_file"/>
                <br/>
                <button class="btn btn-sm btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <!-- END Datatables Content -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Categories</strong> List</h2>
        </div>
        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for cat in categories %}
                    <tr>
                        <td class="text-center">{{ cat.id }}</td>
                        <td class="text-center">{{ cat.name }}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="" data-toggle="tooltip" title="Edit"
                                   class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'panel:category_delete' pk=cat.pk %}" data-toggle="tooltip"
                                   title="Delete"
                                   class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->
{% endblock body %}
{% block ozel_js %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function () {
        TablesDatatables.init();
    });</script>
{% endblock ozel_js %}