{% extends 'back/layout.html' %}
{% load static %}
{% load my_auth %}
{% block body %}
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Manager List<br><small>you can view your data!</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Managers</li>
        <li><a href="{% url 'panel:manager_list' %}">List</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Manager</strong> List</h2>
        </div>
        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Last Log In</th>
                    {% if request.user|has_group:'Master User' %}
                    <th class="text-center">Actions</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for manager in managers %}
                    <tr>
                        <td>{% if manager.name %} {{ manager.name }} {% else %} - {% endif %}</td>
                        <td>{{ manager.email }}</td>
                        <td>{{ manager.user.username }}</td>
                        <td>{{ manager.user.last_login }}</td>
                    {% if request.user|has_group:'Master User' %}
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="{% url 'panel:users_permissions' pk=manager.pk %}" data-toggle="tooltip" title="Groups"
                                   class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> Permissions</a>
                                <a href="{% url 'panel:users_groups' pk=manager.pk %}" data-toggle="tooltip" title="Groups"
                                   class="btn btn-xs btn-default"><i class="fa fa-pencil"></i> Groups</a>
                                <a href="{% url 'panel:manager_delete' pk=manager.pk %}" data-toggle="tooltip" title="Delete"
                                   class="btn btn-xs btn-danger"><i class="fa fa-times"></i> Delete</a>
                            </div>
                        </td>
                    {% endif %}
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->
{% endblock body %}
{% block ozel_js %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function () {
        TablesDatatables.init();
    });</script>
{% endblock ozel_js %}