{% extends 'layout.html' %}
{% load staticfiles %}
{% block metadescription %}
    {% if category %}
        {{ category.description | truncatewords:155 }}
    {% else %}
        Welcome to the E-Commerce Store
    {% endif %}
{% endblock metadescription %}
{% block title %}
    {% if category %}
        {{ category.name }} - E-Commerce
    {% else %}
        See Our Collection - E-Commerce
    {% endif %}
{% endblock title %}
{% block content %}
    {% if category %}
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a> | {{ category.name }}</p>
            </div>
        </div>
    {% endif %}
    <div class="mx-auto">
        {% if category %}
            <img class="my_image" src="{{ category.image.url }}" alt="{{ category.name }}">
            </div>
            <br>
            <div>
                <h1 class="text-center my_title">{{ category.name }}</h1>
                <p class="text-justify">{{ category.description }}</p>
            </div>
        {% else %}
            <img class="my_image my_image_padding" src="{% static '/img/custom_category.jpg' %}" alt="Custom Category">
            </div>
            <br>
            <div>
                <h1 class="text-center my_title">Our Products Collections</h1>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dolore est,
                    et laborum nemo
                    nesciunt nihil, perferendis perspiciatis quasi repellat, similique sit voluptate voluptatibus?
                    Aliquam aperiam architecto consequuntur odio odit officiis quam sit vitae? Blanditiis excepturi hic
                    minima tempore. Veniam?</p>
            </div>
        {% endif %}
    <div class="container">
        <div class="row mx-auto">
            {% for product in products.object_list %}
                <div class="my_bottom_margin col-9 col-sm-12 col-md-4 cl-md-12 col-lg-4">
                    <div class="card text-center" style="width: 18rem;">
                        <a href="{{ product.get_url }}"><img class="card-img-top my_image" src="{{ product.image.url }}"
                                                             alt="{{ product.name }}"></a>
                        <div class="card-body">
                            <h4>{{ product.name }}</h4>
                            <p>${{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
            <hr>
            <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{ pg }}" class="btn btn-light btn-sm {% if products.number == pg %}
                active
                {% endif %}">{{ pg }}</a>
            {% endfor %}

            </div>
        {% endif %}
    </div>
    </div>
{% endblock content %}