{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company ToDo | {% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {% block ozel_css %}{% endblock ozel_css %}
</head>
<body>
<section class="bg-dark">
    <div class="">
        {% block icerik %}{% endblock icerik %}
    </div>

</section>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/13f8a35f94.js" crossorigin="anonymous"></script>
{% block ozel_js %}{% endblock ozel_js %}
</body>
</html>