Django==2.2.6
django-ckeditor==5.7.1
django-cleanup==4.0.0
django-filter==2.2.0
django-js-asset==1.2.2
djangorestframework==3.10.3
gunicorn==19.9.0
Markdown==3.1.1
pdfkit==0.6.1
Pillow==8.1.1
psycopg2==2.8.4
psycopg2-binary==2.8.4
pytz==2019.3
sqlparse==0.3.0
Unidecode==1.1.1
