asn1crypto==0.24.0
Brlapi==0.6.7
certifi==2018.8.24
chardet==3.0.4
cryptography==2.6.1
cupshelpers==1.0
distro==1.3.0
Django==2.2.20
entrypoints==0.3
feedparser==5.2.1
freeze==1.0.10
httplib2==0.11.3
idna==2.6
keyring==17.1.1
keyrings.alt==3.1.1
louis==3.8.0
musicbrainzngs==0.6
mutagen==1.40.0
olefile==0.46
pexpect==4.6.0
Pillow==5.4.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
PyGObject==3.30.4
pyinotify==0.9.6
PySimpleSOAP==1.16.2
pysmbc==1.0.15.6
python-apt==1.8.4
python-debian==0.1.35
python-debianbts==2.8.2
pytz==2019.2
pyxdg==0.25
quodlibet==4.2.1
reportbug===7.5.3-deb10u1
reportlab==3.5.13
requests==2.21.0
SecretStorage==2.3.1
six==1.12.0
sqlparse==0.3.0
urllib3==1.24.1
virtualenv==16.7.5
