<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">Dostlar Tımarhanesi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/about">Hakkımızda</a>
          </li>      
          <li class="nav-item active">
            <a class="nav-link" href="/activities">Faaliyetler</a>
          </li>      
        </ul>
                <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/register">Bize Katıl</a>
          </li>      
          <li class="nav-item active">
            <a class="nav-link" href="/login">Giriş</a>
          </li>      
        </ul>
             </div>
    </nav>