{% load static %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="{% static 'js/all.js' %}"></script>
<script src="{% static 'less/fontawesome.less' %}"></script>
<script src="{% static 'scss/fontawesome.scss' %}"></script>

{% block ozel_js %}

{% endblock ozel_js %}
</body>
</html>