{% extends 'back/layout.html' %}
{% load static %}
{% block body %}
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Edit News<br><small>you can edit your data!</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>News</li>
        <li><a href="{% url 'panel:news_edit' pk=pk %}">Edit</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="table-responsive">
        <div class="row">
            <div class="col-md-12">
                <!-- Basic Form Elements Block -->
                <div class="block">
                    <!-- Basic Form Elements Title -->
                    <div class="block-title">
                        <h2><strong>Edit</strong> News</h2>
                    </div>
                    <!-- END Form Elements Title -->

                    <!-- Basic Form Elements Content -->
                    <form action="{% url 'panel:news_edit' pk=pk %}" method="post" enctype="multipart/form-data"
                          class="form-horizontal form-bordered">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="text" value="{{ news.name }}" id="news_title" name="news_title"
                                       class="form-control"
                                       placeholder="News Title">
                            </div>
                            <div class="col-md-6">
                                <select id="news_category" name="news_category" class="select-chosen"
                                        data-placeholder="Choose a Category.." style="width: 250px;">
                                    <option value="{{ news.category_id }}">{{ news.category_name }}</option>
                                    {% for subcategory in subcategories %}
                                        <option value="{{ subcategory.pk }}">{{ subcategory.category_name }}
                                            | {{ subcategory.name }}</option>

                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea type="text" id="news_short_txt" name="news_short_txt" class="form-control"
                                          placeholder="Short Txt" rows="5">{{ news.short_txt }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea type="text" id="news_body_txt" name="news_body_txt" class="form-control"
                                          placeholder="Body Txt" rows="5">{{ news.body_txt }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6">
                                <input type="file" id="news_file" name="news_file">
                            </div>
                            <div class="col-md-6">
                                <img src="{{ news.pic_url }}" alt="{{ news.pic_name }}" style="display: inline-block; width: 350px; height: 200px;">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i>
                                    Submit
                                </button>

                            </div>
                        </div>
                    </form>
                    <!-- END Basic Form Elements Content -->
                </div>
                <!-- END Basic Form Elements Block -->
            </div>
        </div>
    </div>
    <!-- END Datatables Content -->
{% endblock body %}
