{% extends 'back/layout.html' %}
{% load static %}
{% block body %}
    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>SubCategory List<br><small>you can add, edit and delete your data!</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>SubCategory</li>
        <li><a href="{% url 'panel:subcategory_list' %}">SubCategory List</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>SubCategories</strong> List</h2>
        </div>
        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Category</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for cat in subcategories %}
                    <tr>
                        <td class="text-center">{{ cat.pk }}</td>
                        <td class="text-center">{{ cat.name }}</td>
                        <td class="text-center">{{ cat.category_name }}</td>
                        <td class="text-center">
                            <div class="btn-group">
                                <a href="" data-toggle="tooltip" title="Edit"
                                   class="btn btn-xs btn-default"><i class="fa fa-pencil"></i></a>
                                <a href="{% url 'panel:subcategory_delete' pk=cat.pk %}" data-toggle="tooltip"
                                   title="Delete"
                                   class="btn btn-xs btn-danger"><i class="fa fa-times"></i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->
{% endblock body %}
{% block ozel_js %}
    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function () {
        TablesDatatables.init();
    });</script>
{% endblock ozel_js %}