{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ product.title }} Detail
{% endblock title %}
{% block body %}
    <h1>Product Detail : {{ product.title }}</h1>
    <hr>
    <ul>
        <h3>Product:</h3>
        <li>{{ product.title }}</li>
        <li>{{ product.description | truncatewords:5 }}</li>
        <li>{{ product.price }}</li>
        {% if product.image %}
            <li>Image:<img width="100%" height="300" src="{{ product.image.url }}" alt=""></li>
        {% endif %}
    </ul>
{% endblock body %}