{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ product.title }} Detail
{% endblock title %}
{% block body %}
    {% include 'includes/navbar.html' with brand_name="Product Detail" %}
    <br>
    <ul>
        <h3>{{ product.title }}</h3>
        <li>{{ product.title }}</li>
        <li>{{ product.description | truncatewords:5 }}</li>
        <li>{{ product.price }}</li>
        {% if product.image %}
            <li>Image:<img width="100%" height="300" src="{{ product.image.url }}" alt=""></li>
        {% endif %}
    </ul>
{% endblock body %}