{% extends 'base.html' %}
{% load static %}
{% block title %}
    Product List
{% endblock title %}
{% block body %}
{% include 'includes/navbar.html' with brand_name="ProductList" %}  <!-- Bu şekilde include ettiğimiz parçaya data yollayabiliriz -->
<ul>
    <h4>İtemler</h4>
    {% for object in object_list %}
        <h5>{{ object.title }} {% if object.featured == True %}
        | <small><i>(Featured)</i></small>
        {% endif %} |
            <small>
                <a href="{% if object.featured == True %}
         {% url 'product_featured_detail' slug=object.slug %}

            {% else %}
            {% url 'product_detail' slug=object.slug %}
         {% endif %}">
                    <i>Detail</i>
                </a>
            </small>
        </h5>
    {% endfor %}

</ul>

{% endblock body %}