{% extends 'article/layout.html' %}
{% block body %}

    <div class ="row">
    <div class="col-md-10 offset-md-3">
        <div class="col-lg-8">
            <h3>Makaleler</h3>
    <hr>
            <form action="" method="get">
                 {% csrf_token %}
                <input type="text" name = "keyword" class="input-sm" maxlength="64" placeholder="Ara...">
              <button type="submit" class="btn btn-danger">Ara</button>
            </form>
      </div>
    </div>

</div>
     <div class ="row">
    <div class="col-md-10 offset-md-3">
        <br><br><br>
     {% if articles %}
        {% for article in articles %}
            <div class="card" style="width: 18rem;">
                {% if article.image %}
                    <img class="card-img-top" src="{{ article.image.url }}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.content|safe|truncatewords:4 }}</p>
                    <a href="{% url 'article:detail' id=article.id %}" class="btn btn-primary">İncele</a>
                </div>
            </div>
            <br>
            <br>
        {% endfor %}

    {% else %}
        <div class="alert alert-warning">Makale bulunamadı...</div>
    {% endif %}
    </div>
     </div>

{% endblock body %}