{% extends 'article/layout.html' %}
{% block body %}
    <div class="row">


        <div class="col-lg-8">


            <h3 class="mt-4">{{ article.title }}</h3>


            <p class="lead">
                by
                {{ article.author.username }}
            </p>

            <hr>


            <p>{{ article.created_date }}</p>

            <hr>


            {% if article.image %}
                <img class="img-fluid rounded" src="{{ article.image.url }}" alt="">
            {% endif %}

            <hr>

            <p>{{ article.content|safe }}</p>
            <!-- safe diyerek html etiketlerini gizledik -->
            <hr>


        </div>

    </div>

{% endblock body %}