{% extends "article/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Kayıt Ol</h3>
            <hr>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}<!-- formu sayfaya yolladık ve görünmesi için .as_p yaptık  -->
                <br>
                <button type="submit" class="btn btn-primary">Giriş</button>
            </form>

        </div>
    </div>


{% endblock body %}