beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
Django==2.2.20
django-ckeditor==5.7.1
django-cleanup==4.0.0
django-filter==2.2.0
django-js-asset==1.2.2
djangorestframework==3.10.3
gunicorn==19.9.0
idna==2.8
Markdown==3.1.1
pdfkit==0.6.1
Pillow==6.2.1
psycopg2==2.8.4
psycopg2-binary==2.8.4
pytz==2019.3
requests==2.22.0
soupsieve==1.9.5
sqlparse==0.3.0
Unidecode==1.1.1
urllib3==1.25.7
