{% load static %}
<ul class="sidebar-nav">
    <li>
        <a href="{% url 'panel:home' %}" class=" active"><i
                class="gi gi-stopwatch sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Dashboard</span></a>
    </li>
    <li class="sidebar-header">
                            <span class="sidebar-header-options clearfix"><a href="javascript:void(0)"
                                                                             data-toggle="tooltip"
                                                                             title="Quick Settings"><i
                                    class="gi gi-settings"></i></a></span>
        <span class="sidebar-header-title">Site Settings</span>
    </li>
    <li>
        <a href="#" class="sidebar-nav-menu"><i
                class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i
                class="gi gi-settings sidebar-nav-icon"></i><span
                class="sidebar-nav-mini-hide">Site Settings</span></a>
        <ul>
            <li>
                <a href="{% url 'panel:site_settings' %}">Settings</a>
            </li>
        </ul>
    </li>
     <li class="sidebar-header">
                            <span class="sidebar-header-options clearfix"><a href="javascript:void(0)"
                                                                             data-toggle="tooltip"
                                                                             title="Quick Settings"><i
                                    class="gi gi-show_big_thumbnails"></i></a></span>
        <span class="sidebar-header-title">News Settings</span>
    </li>
    <li>
        <a href="#" class="sidebar-nav-menu"><i
                class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i
                class="gi gi-show_big_thumbnails sidebar-nav-icon"></i><span
                class="sidebar-nav-mini-hide">Categories</span></a>
        <ul>
            <li>
                <a href="{% url 'panel:category_add' %}">Add Category</a>
            </li>
            <li>
                <a href="{% url 'panel:category_list' %}">Categories List</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="sidebar-nav-menu"><i
                class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i
                class="gi gi-show_big_thumbnails sidebar-nav-icon"></i><span
                class="sidebar-nav-mini-hide">SubCategories</span></a>
        <ul>
            <li>
                <a href="{% url 'panel:subcategory_add' %}">Add SubCategory</a>
            </li>
            <li>
                <a href="{% url 'panel:subcategory_list' %}">SubCategories List</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#" class="sidebar-nav-menu"><i
                class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i
                class="gi gi-show_big_thumbnails sidebar-nav-icon"></i><span
                class="sidebar-nav-mini-hide">News</span></a>
        <ul>
            <li>
                <a href="{% url 'panel:news_add' %}">Add News</a>
            </li>
            <li>
                <a href="{% url 'panel:news_list' %}">News List</a>
            </li>
        </ul>
    </li>
</ul>
<!-- END Sidebar Navigation -->