{% extends 'base.html' %}
{% load static %}
{% block title %}
    Product
{% endblock title %}
{% block body %}
    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-10 mx-auto col-md-6 my-3">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            </div>
            <div class="col-10 mx-auto col-md-6 my-3">
                <div>
                    <h1 class="product_title">
                        {{ product.name }}
                    </h1>
                    <h5 class="text-info font-italic mb-3">
                        <span class="mr-1">$</span>{{ product.price }}
                    </h5>
                    <p class="product_description">
                        Product Descrition
                    </p>
                    <p class="text-justify product_text">
                        {{ product.description }}
                    </p>
                    {% if product.stock <= 0 %}
                        <p class="text-justify product_text">
                            <b>Out Of Stock</b>
                        </p>
                    {% else %}
                        <a href="{% url 'store:add_to_cart' product_id=product.id %}">Add to Cart</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}