{% extends 'base.html' %}
{% load static %}
{% block title %}
    Product
{% endblock title %}
{% block body %}
    <div class="container py-5">
        <div class="row mt-5">
            <div class="col-10 mx-auto col-md-6 my-3">
                <img src="{% static 'img/product4.jpg' %}" alt="">
            </div>
            <div class="col-10 mx-auto col-md-6 my-3">
                <div>
                    <h1 class="product_title">
                        HTC ONE
                    </h1>
                    <h5 class="text-info font-italic mb-3">
                            <span class="mr-1">$</span>499
                        </h5>
                    <p class="product_description">
                        Product Description
                    </p>
                    <p class="text-justify product_text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis doloribus error eveniet
                        excepturi nostrum.
                    </p>
                    <p class="text-justify product_text">
                        <b>Out Of Stock</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}