{% extends 'article/layout.html' %}
{% block body %}
    <div class="row">


        <div class="col-lg-8">


            <h3 class="mt-4">{{ article.title }}</h3>


            <p class="lead">
                by
                {{ article.author.username }}
            </p>

            <hr>


            <p>{{ article.created_date }}</p>

            <hr>


            {% if article.image %}
                <img class="img-fluid rounded" src="{{ article.image.url }}" alt="">
            {% endif %}

            <hr>

            <p>{{ article.content|safe }}</p>
            <!-- safe diyerek html etiketlerini gizledik -->
            <hr>

        <h4>Yorumlar</h4>
      <hr>
      {% if comments %}
      {% for comment in comments  %}
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">{{comment.comment_author}}</h5>
            {{comment.comment_date}} <br>
            {{comment.comment_content}}
          </div>
        </div>
          <br>
      {% endfor %}


      {% else %}
      <div class ="alert alert-warning">
        Bu makaleye herhangi bir yorum yazılmamış,ilk yorum yapan siz olun!
      </div>
      {% endif %}
            <br><br><br>
      <div class="card my-4">
          <h5 class="card-header">Yorum Ekle:</h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'article:comment' id=article.id %}">
              {% csrf_token %}
              <div class="form-group">
                  <label for="formGroupExampleInput">İsim</label>
                  <input name = "comment_author" type="text" class="form-control" id="formGroupExampleInput" placeholder="İsminizi girin">
                </div>
              <div class="form-group">
                  <label for="formGroupExampleInput">Yorum</label>
                <textarea name = "comment_content" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-danger">Ekle</button>
            </form>
          </div>
        </div>
        </div>
    </div>

{% endblock body %}