{% extends 'layout.html' %}
{% load staticfiles %}
{% block metadescription %}
    {{ product.description|truncatewords:155 }}
{% endblock metadescription %}
{% block title %}
    {{ product.name }} - E-Commerce Store
{% endblock title %}
{% block content %}
    <div class="row my_prod_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'shop:allProdCat' %}">Home</a>| <a
                    href="{{ product.category.get_url }}">{{ product.category }}</a> | {{ product.name }}</p>
        </div>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
                    <div style="min-width: 18rem">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                    <div>
                        <h1 class="my_prod_title">{{ product.name }}</h1>
                        <p>${{ product.price }}</p>
                        <p class="my_title">Product Description</p>
                        <p class="text-justify my_prod_text">{{ product.description }}</p>
                        {% if product.stock <= 0 %}
                            <p class="text-justify my_prod_text"><b>Out of stock!</b></p>
                        {% else %}
                            <a class="btn btn-secondary" href="">Add to Cart</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}