<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thanks</title>
</head>
<body>
    <h2>Bize bilgi verdiğin için teşekkürler.</h2>
    <ul>
        <li>İsim: {{session['name']}}</li>
        <li>Evlenebilir mi?: {{session['neutered']}}</li>
        <li>Ruh hali: {{session['mood']}}</li>
        <li>Vejeteryan mı?: {{session['food_choice']}}</li>
        <li>Bilgi: {{session['feed_back']}}</li>
    </ul>
</body>
</html>