{% extends "layout.html" %}
{% block body %}
<h3>Biz Kimiz?</h3>
<hr>
İHH İnsani Yardım Vakfı; bölge, din, dil, ırk ve mezhep ayrımı yapmaksızın dünyanın herhangi bir yerinde sıkıntıya düşmüş, felakete uğramış, zulüm görmüş, aç ve açıkta kalmış; savaş, tabii afet gibi sebeplerle mağdur olmuş, yaralanmış, sakat kalmış; evsiz, yurtsuz, tüm insanlara insani yardım ulaştırmak ve bu insanların temel hak ve hürriyetlerinin ihlal edilmesini önlemek üzere 1992 yılından bu yana çalışmaktadır. Gönüllü faaliyetlerle başlayan ve 1995 yılında kurumsallaşan bu çalışmalar kısa sürede 5 kıtada 135 ülke ve bölgeye yayılmış ve Türkiye’den tüm dünyaya ulaşan bir hayır köprüsü olmuştur.
<hr>
{%endblock body %}