<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Home</title>
</head>

<body>
  <p>
    {% if name %}
    The name you entered is {{name}}
    Update it in the form below:
    {% else %}
    Please enter your name:
    {% endif %}
  </p>
  <form method="POST">
    <!--flask ile çalışırken methodu büyük yazsak daha iyi bazı sistemler algılamayabiliyor-->
    {{ form.hidden_tag() }}
    {{ form.name.label }}{{ form.name }}
    {{ form.submit() }}
  </form>
</body>

</html>