.cart_table {
    min-width: 400px;
    font-size: 14px;
}

.cart_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .2em;
    background-color: #f8f9fa !important;
}

.cart_icon {
    text-decoration: none;
    color: #868e96 !important;
}